<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.9.2" targetFramework="net461" />
  <package id="Autofac.Extras.DynamicProxy" version="4.5.0" targetFramework="net461" />
  <package id="Castle.Core" version="4.3.1" targetFramework="net461" />
  <package id="log4net" version="1.2.10" targetFramework="net461" />
  <package id="Microsoft.Azure.Services.AppAuthentication" version="1.0.3" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="3.14.2" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Logging" version="5.4.0" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.4.0" targetFramework="net461" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="2.0.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net461" />
  <package id="NLog" version="4.6.2" targetFramework="net461" />
  <package id="NLog.Config" version="4.6.2" targetFramework="net461" />
  <package id="NLog.Schema" version="4.6.2" targetFramework="net461" />
  <package id="PDFsharp-MigraDoc-gdi" version="1.50.5147" targetFramework="net461" />
  <package id="ServiceBus.v1_1" version="1.0.6" targetFramework="net461" />
  <package id="Topshelf" version="4.2.0" targetFramework="net461" />
  <package id="Topshelf.NLog" version="4.2.0" targetFramework="net461" />
</packages>